html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  /* 
   * to center
  */
  display: flex;
  justify-content: center;
  align-items: center;

  background: #42313a;
}

/* The flip card container - set the width and height to whatever you want. 
 * We have added the border property to demonstrate that the flip itself goes 
 * out of the box on hover (remove perspective if you don't want the 3D effect 
 */
.flip-card {
  position: relative;
  width: 300px;
  height: 450px;
  perspective: 900px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner:hover .social-icon {
  opacity: 1;
  top: 0;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0,1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* Style the front side */
.flip-card-front {
  cursor: pointer;
  background-color: #fff;
  transition: opacity 0.8s;
}

.flip-card:hover .flip-card-front{
  opacity: 0;
}

.front-background-photo{
  position: relative;
  height: 150px;
  min-width: 300px;
  background: #6c2d2c;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;

}

.front-perfil-photo{
  position: relative;
  top: -80px;
  height: 140px;
  width: 140px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #fff;
  background: url('img/profile.png');
  background-size: contain;
  overflow: hidden;
}

.front-text{
  position: relative;
  top: -65px;
  margin: 0 auto;
  font-family: "Montserrat";
  text-align: center;
  overflow: hidden;
}
.front-text .front-text-header{
  font-weight: 700;
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 20px;
}
.front-text .front-text-p{
  position: relative;
  top: -15px;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

/* Style the back side */
.flip-card-back {
  position: absolute;
  background-color: #071011;
  transform: rotateY(180deg);
  z-index: -1;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.social-media-wrapper {
  font-size: 46px;
  margin-left: 20px;
  margin-right: 20px;

  /* center */
  align-items: center;
  text-align: center;
  display: block;
}

.social-media-wrapper .social-icon {
  position: relative;
  top: 40px;
  margin-right: 10px;
  opacity: 0;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);
}
.social-media-wrapper .social-icon:nth-child(1) {
  transition-delay: 0.4s;
}
.social-media-wrapper .social-icon:nth-child(2) {
  transition-delay: 0.5s;
}
.social-media-wrapper .social-icon:nth-child(3) {
  transition-delay: 0.6s;
}

.social-media-wrapper .social-icon:nth-child(4) {
  transition-delay: 0.7s;
}

.social-media-wrapper .social-icon:nth-child(5) {
  transition-delay: 0.8s;
}

.social-media-wrapper .social-icon:nth-child(6) {
  transition-delay: 0.9s;
}

.social-media-wrapper .social-icon:nth-child(7) {
  transition-delay: 1.0s;
}

.fab {
  position: relative;
  top: 0;
  left: 0;
  transition: all 200ms ease-in-out;
}

.fab:hover {
  top: -6px;
}

